{% extends 'blog/base.html' %}

{% block title %}
  Register
{% endblock %}

{% block body %}
    <header>
        {% if request.user.is_authenticated %}
          <a href="{% url 'account:logout' %}">Выйти</a> или <a href="{% url 'account:register' %}">Зарегистрироваться</a>
        {% else %}
          <a href="{% url 'account:login' %}">Войти</a> или <a href="{% url 'account:register' %}">Зарегистрироваться</a>
        {% endif %}
    </header>
  <h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p>
    <p>Автор: {{ post.author }}</p>
    <hr>

    <h2>Комментарии</h2>
    {% for comment in comments %}
        <p>{{ comment.content }}</p>
        <p>Автор: {{ comment.author }}</p>
        <hr>
    {% empty %}
        <p>Нет комментариев</p>
    {% endfor %}

    {% if request.user.is_authenticated %}
        <h2>Оставить комментарий</h2>

    {% else %}
        <p>Только зарегистрированные пользователи могут оставлять комментарии.
    {% endif %}
    <div>
        <a href="{% url 'blog:home' %}">На главную</a>
    </div>

{% endblock %}
